
@{
    ViewData["Title"] = "Index";
}

<h1>Paciente</h1>

<fieldset class="p-3 my-3 border border-primary rounded">
    <legend class="float-none w-auto text-primary fw-bold">Pacientes</legend>
    <form id="formBusquedaPaciente" method="post" class="row g-3">
        <div class="col-md-4">
            <label for="id" class="form-label">Id Paciente</label>
            <input type="text" class="form-control" name="id" readonly placeholder="Generado Automáticamente">
        </div>
        <div class="col-md-4">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre" placeholder="Ingrese el nombre">
        </div>
        <div class="col-md-4">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" name="apellido" placeholder="Ingrese el apellido">
        </div>
        <div class="col-md-4">
            <label for="fechanacimiento" class="form-label">Fecha de nacimiento</label>
            <input type="date" class="form-control" name="fechanacimiento">
        </div>
        <div class="col-md-4">
            <label for="email" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" name="email" placeholder="Ingrese el correo">
        </div>
        <div class="col-md-4">
            <label for="telefono" class="form-label">Teléfono</label>
            <input type="text" class="form-control" name="telefono" placeholder="Ingrese el teléfono">
        </div>
        <div class="col-md-12">
            <label for="direccion" class="form-label">Dirección</label>
            <input type="text" class="form-control" name="direccion" placeholder="Ingrese la dirección">
        </div>
        <div class="col-12 d-flex gap-2">
            <button type="button" class="btn btn-primary" onclick="buscarPaciente()">
                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg> Buscar
            </button>
            <button type="button" class="btn btn-warning" onclick="limpiarPaciente()">
                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-eraser-fill" viewBox="0 0 16 16">
                    <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828zm.66 11.34L3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293z" />
                </svg> Limpiar
            </button>
            <button type="button" class="btn btn-success" onclick="agregarPaciente()">
                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                    <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5" />
                </svg> Agregar Nuevo
            </button>
        </div>
    </form>
</fieldset>



<div id="divTable" class="mt-5">
</div>

<script src="~/js/generico.js"></script>
<script src="~/js/paciente.js"></script>
